<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Time</title>
</head>
<body>
    <h1>Welcome to LiteTime</h1>

    <p>The upcoming Friday is: {{ friday_date }}</p>

    <form action="/" method="post">
        <label for="city">Enter your city name:</label>
        <input type="text" id="city" name="city">
        <button type="submit">Submit</button>
    </form>

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    {% if sunset_time %}
    <p>Sunset time is: {{ sunset_time }}</p>
    <p>The candle lighting time for the upcoming Shabbat is: {{ candle_lighting_time }}</p>
    {% endif %}

    <p>Powered by <a href="https://api.sunrise-sunset.org/" target="_blank">Sunset and Sunrise API</a></p>
</body>
</html>
