<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Time</title>
</head>
<body>
    {% if username %}
        <h1>Welcome back, {{ username }}!</h1>
        <p>You are currently in {{ city }}.</p>
        <p>The upcoming Friday is: {{ friday_date }}</p>
        <p>Sunset time is: {{ sunset_time }}</p>
        <p>The candle lighting time for the upcoming Shabbat is: {{ candle_lighting_time }}</p>
        <p>Powered by <a href="https://api.sunrise-sunset.org/" target="_blank">Sunset and Sunrise API</a></p>
        <h2>User Data:</h2>
        <ul>
            {% for user in users %}
                <li>Username: {{ user.username }}, Name: {{ user.name }}, City: {{ user.city }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <h1>Welcome to LiteTime</h1>
        <form action="/" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Sign In</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
